.artist_discover {

  .discover_filter {
    width: 100%;
    padding: 10px 30px 0 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;

    .filter_item {
      width: 100%;
      padding: 19px 21px;
      font-size: 16px;
      font-weight: 600;
      line-height: 22.4px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid transparent;
      color: #858584;
      transition: all 0.3s;

      span {
        background-color: #3b3b3b;
        font-size: 12px;
        font-weight: 400;
        line-height: 13.2px;
        border-radius: 20px;
        padding: 5px 10px;
        margin-left: 12px;
      }

      &:hover {
        color: #fff;
        border-color: #858584;

        span {
          background-color: #858584;
        }
      }
    }
  }

  .miscover_box {
    padding: 80px 30px;
    background-color: #3b3b3b;

    .miscover_item_box {
      background-color: #2b2b2b;
    }
  }
}

@media (min-width: 633px) {
  .artist_discover {
    .discover_filter {
      padding: 10px 78px 0 78px;

      span {
        display: inline;
      }
    }

    .miscover_box {
      padding: 80px 72px;
    }
  }
}

@media (min-width: 1023px) {
  .artist_discover {
    .miscover_box {
      padding: 80px 110px;
    }
  }
}