.magic {
  width: 100%;
  height: 640px;
  background: linear-gradient(rgba(162, 89, 255, 0), rgba(162, 89, 255, 1)), url('../../assets/discover-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .magic_info {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .magic_avatar {
      background-color: #3b3b3b;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 11px 20px;
      border-radius: 20px;
      width: 151px;
    }

    h1 {
      font-size: 38px;
      font-weight: 600;
      line-height: 45.6px;
    }

    >.magic_btn {
      display: none;
    }
  }

  .magic_btn {
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: none;
    width: 198px;
    padding: 19px 50px;

    &>span {
      color: #2b2b2b;
    }
  }

  .magic_time {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(59, 59, 59, 0.5);

    .magic_time_title {
      font-size: 12px;
      font-weight: 400;
      line-height: 13.2px;
    }

    .magic_numbers {
      display: flex;
      gap: 10px;
      align-items: start;

      .magic_num_hours h1,
      .magic_num_min h1,
      .magic_num_second h1 {
        font-size: 38px;
        font-weight: 700;
        line-height: 45.6px;
        padding-bottom: 5px;
      }

      .magic_num_hours span,
      .magic_num_min span,
      .magic_num_second span {
        font-size: 12px;
        font-weight: 400;
        line-height: 13.2px;
      }

      .magic_num {
        font-size: 28px;
        font-weight: 700;
        line-height: 39.2px;
      }
    }
  }

  >.magic_btn {
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 560px) {
  .magic {
    display: flex;
    flex-direction: row;
    align-items: end;

    .magic_time {
      width: 295px;
    }

    .magic_info {
      width: 48%;

      .magic_btn {
        display: flex;
      }
    }

    >.magic_btn {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .magic {
    padding: 360px 82px 60px;
    justify-content: space-between;
  }
}

@media (min-width: 1023px) {
  .magic {
    justify-content: space-between;
    padding: 360px 110px 60px;

    .magic_info {
      h1 {
        font-size: 51px;
        line-height: 56.1px;
      }
    }
  }
}