.miscover {
  padding: 40px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  gap: 40px;

  &_info {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .miscover_title {
      font-size: 28px;
      font-weight: 600;
      line-height: 39.2px;
    }

    .miscover_desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
    }

    >.miscover_btn {
      display: none;
      align-items: center;
      gap: 12px;
      color: #fff;
      padding: 19px 50px;
      border-radius: 20px;
      background-color: transparent;
      border: 2px solid #A259FF;
    }
  }

  .miscover_button {
    display: flex;
    justify-content: center;
    align-items: center;

    .miscover_btn {
      width: 270px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      color: #fff;
      padding: 19px 50px;
      border-radius: 20px;
      background-color: transparent;
      border: 2px solid #A259FF;
    }
  }

  &_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .miscover_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &_item_box {
    background-color: #3d3d3d;
    padding: 20px 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    h1 {
      font-size: 22px;
      font-weight: 600;
      line-height: 30.8px;
    }

    .miscover_auther {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }

  &_item_price {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .misc_price,
    .misc_ETH {
      display: flex;
      justify-content: space-between;
    }

    .misc_price span {
      font-size: 12px;
      color: #858584;
      font-weight: 400;
      line-height: 13.2px;
    }

    .misc_ETH>span {
      font-size: 12px;
      font-weight: 400;
      line-height: 13.2px;
    }
  }
}

@media (min-width: 576px) {
  .miscover {
    &_item_price {

      .misc_price span,
      .misc_ETH span {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 768px) {
  .miscover {
    padding: 40px 72px;

    &_box {
      gap: 30px 4%;

      .miscover_item {
        width: 48%;
      }
    }

    &_info {
      >.miscover_btn {
        display: flex;
      }
    }

    >.miscover_button {
      display: none;
    }
  }
}

@media (min-width: 1023px) {
  .miscover {
    padding: 80px 110px;

    &_box {
      gap: 30px 3.5%;

      .miscover_item {
        width: 31%;
      }
    }

    &_info {
      .miscover_title {
        font-size: 38px;
      }

      .miscover_desc {
        font-size: 22px;
      }
    }
  }
}